<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Fantasy Football League Visualizer</title>
    <meta name="author" content="Matthew Catrett" />
    <meta name="description" content="Visualize your fantasy football league's results." />
    <meta name="keywords" content="fantasy, football, espnffl, ffl" />
    <style type="text/css">
    </style>
  </head>
  <body>
    <div class="header">
      <h1>Fantasy Football Visualizer</h1>
    </div>
    <div class="main">
      <p>Enter a publically-visible ESPN Fantasy Football league ID</p>
      <form name="visualizer" action="/visualize" method="get">
        <input type="text" name="league-id" placeholder="Enter a league ID" />
        <input type="submit" value="Visualize" />
      </form>
      <p><a href="/visualize?league-id=<%= demo_league_id %>">Don't have a league? Click here to see a demo.</a></p>
    </div>
    <div class="footer">
      <span>© 2014 Matthew Catrett</span>
    </div>
  </body>
</html>
