<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Fantasy Football League Visualizer</title>
    <meta name="author" content="Matthew Catrett" />
    <meta name="description" content="Visualize your fantasy football league's results." />
    <meta name="keywords" content="fantasy, football, espnffl, ffl" />
    <style type="text/css">
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
